<!DOCTYPE html>
<html>
  <head>
    <title>Catalog App - Login</title>
    <style>
      .navbar-collapse.collapse {
      display: block!important;
      }

      .navbar-nav>li, .navbar-nav {
      float: left !important;
      }

      .navbar-nav.navbar-right:last-child {
      margin-right: -15px !important;
      }

      .navbar-right {
      float: right!important;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
      <script src="//apis.google.com/js/platform.js?onload=start"> </script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
            <li>
	      <h1><a href="/">Catalog App</a></h1>
            </li>
          </ul>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav navbar-right">
      {% if not Login_Session %}
            <li><a href="login"><button class="btn">Login</button></a></li>
      {% else %}
            <li><a href="gdisconnect"><button class="btn">Logout</button></a></li>
      {% endif %}
	  </ul>
	</div>
      </div>
    </nav>

    <h2>LOGIN</h2><br>
    <div id="signinButton">
<span class="g-signin"
  data-scope="openid email"
  data-clientid="1077892694714-9o9pm88r4jii50uu7h6hhq80qi9lnpmb.apps.googleusercontent.com"
  data-redirecturi="postmessage"
  data-accesstype="offline"
  data-cookiepolicy="single_host_origin"
  data-callback="signInCallback"
  data-approvalprompt="force">
</span>
</div>
<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    $('#signinButton').attr('style', 'display: none');
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/";
        }, 4000);

      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }

  }); } }
</script>
    <footer><center><a href="https://alexander-guesnon.github.io/">Alex Guesnon</a></center></footer>
  </body>
</html>
