<!DOCTYPE html>
<html>

<head>
  <title>Catalog App - Logout</title>
  <style>
    .navbar-collapse.collapse {
      display: block!important;
    }

    .navbar-nav>li,
    .navbar-nav {
      float: left !important;
    }

    .navbar-nav.navbar-right:last-child {
      margin-right: -15px !important;
    }

    .navbar-right {
      float: right!important;
    }
  </style>
  <meta http-equiv="refresh" content="4;http://localhost:8080">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <h1><a href="/">Catalog App</a></h1>
        </li>
      </ul>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      </div>
    </div>
  </nav>

  <h2>{{title}}</h2><br>
  <h3>{{response}}</h3><br>
      <footer><center><a href="https://alexander-guesnon.github.io/">Alex Guesnon</a></center></footer>
</body>

</html>
